[user]
    name = Mikhail Mirzoyan
    email = mikhail@shakacode.com

[core]
    pager = git-split-diffs --color | less -RFX
    excludesFile = ~/.gitignore_global

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections

[merge]
    conflictStyle = zdiff3
