layout {
    cwd "/Volumes/dev/shaka/gtm"

    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }

    tab name="git" {
        pane command="zsh" {
            args "-lic" "lg"
        }
    }

    tab name="vim" {
        pane command="zsh" {
            args "-lic" "v"
        }
    }

    tab name="claude" {
        pane command="zsh" {
            args "-lic" "claude"
        }
    }

    tab name="hermes" {
        pane split_direction="vertical" {
            pane command="zsh" {
                args "-lic" "gtm chat"
            }
            pane command="zsh" {
                args "-lic" "hermes chat"
            }
        }
    }

    tab name="misc" {
        pane
    }
}
